* {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


body {
    text-align: center;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    background-color: #3498db;
}

.score-panel {
	/*display: inline-block;*/
	text-align: left;
    width: 345px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
   	color: #ecf0f1;
}

.score-lives {
	margin-bottom: 10px;
	display: block;
	width: 100%;
}

.score-score {
	display: block;
	width: 100%;
}

.lives-text,
.score-text {
	display: inline-block;
}

.player-select {
	position: fixed;
	width: 600px;
	height: 360px;
	box-shadow: 10px;
	background-color: rgba(255, 255, 255, 0.95);
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	/*display: flex;
    flex-wrap: wrap;*/
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    border-radius: 10px;
	
}

.hide {
	display: none;
}

.player-select h2 {
	transform: translateY(-20px);
	text-transform: uppercase;
}

.player-list {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    transform: translateY(-18px);
    margin: 0;
    padding: 0;
}

.player-list .player-image {
	display: flex;
    justify-content: center;
    align-items: center;
}

.selection {
	border-color: #2980b9;
	border-style: solid;
	border-width: 3px;
}

#play-button {
	font-size: 22px;
	color: #FFF;
	border: none;
	padding: 12px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #2980b9;
    border-radius: 10px;
}
